.best {
  padding-top: 80px;
  padding-bottom: 90px;
  &__container {
  }

  &__title {
    margin-bottom: 75px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px 160px;
    grid-template-rows: repeat(2, 90px);
    grid-auto-rows: 90px;
  }

  &__item {
    justify-self: center;
    align-self: center;
    
  }

  &__image {
    
    img {
      max-width: 100%;
      
    }
  }
}
