.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    &__container {
        padding: 5px 0;
        display: flex;
        gap: 131px;
        min-height: 152px;
        align-items: center;
    }

    &__logo {
    }

    &__menu {
    }
}
.menu {

    &__body {
    }

    &__list {
        display: flex;
        gap:56px;
    }

    &__item {
    }

    &__link {
        color: rgba(18, 18, 18, 0.4);
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }

    }
}
